@model Supermercado.Models.Game


@{
    ViewBag.Title = "Apagar";
}

<h2><span class="glyphicon glyphicon-remove"></span> @ViewBag.Title Game</h2>
<hr />
<h3>Confirma a exclução esse game?</h3>
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plataforma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plataforma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoLancamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoLancamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Games", FormMethod.Post, new { id = "formCrud" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="button" value="Confirmar" class="btn btn-danger" />
        </div>
    }
</div>

<script src="~/Scripts/projeto/EnviarFormulario.js"></script>

<script type="text/javascript">

    var btnAcao = $("input[type='button']");
    var formulario = $("#formCrud");

</script>
