s<!DOCTYPE html>
@using Resources
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CRUD</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("estilos", false)

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">@Resources.Site.NomeLoja</a>
            </div>
            <ul class="nav navbar-nav">
               
                          
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Site.Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink(@Resources.Site.Livros, "Index", "Livros")</li>
                        <li>@Html.ActionLink(@Resources.Site.Jogos, "Index", "Games")</li>
                        <li>@Html.ActionLink(@Resources.Site.Filmes, "Index", "Filmes")</li>
                        <li>@Html.ActionLink(@Resources.Site.Figuras, "Index", "ActionFigures")</li>
                        <li>@Html.ActionLink(@Resources.Site.Mangas, "Index", "Mangas")</li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink(@Resources.Site.Generos, "Index", "Generos")</li>
                        <li>@Html.ActionLink(@Resources.Site.Lojas, "Index", "LojasFisicas")</li>
                    </ul>
                </li>
                  
               
                <li>@Html.ActionLink(@Resources.Site.About, "About", "Home")</li>
                <li>@Html.ActionLink(@Resources.Site.WebMail, "Index", "WebMail")</li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Site.Idioma<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Home/Ingles">@Resources.Site.IN</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="~/Home/Portugues">@Resources.Site.PT</a></li>
                    </ul>
                </li>
</ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CRUD</p>
        </footer>
    </div>

    <div class="modal fade" id="minhaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="conteudoModal"></div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
